html,
body {
  margin: 0;
}

/* Tag selector for all links and h1 elements */
h1,
a {
  font-family: 'Futura webfont', sans-serif;
}

/* Tag selector for all h1 elements */
h1 {
  font-size: 3, 75rem;
  margin: 0;
  padding-top: 16px;
}

/* Tag selector for all h2 elements */
h2,
p {
  font-family: 'Mulish', sans-serif;
}

/* Tag selector for all p elements */
p {
  line-height: 25px;
}

/* Tag selector for all h2 elements */
h2 {
  font-size: 1, 65rem;
  line-height: 29px;
  font-weight: 700;
}

/* Class selector for a class that should have the BG image */
.hero-content {
  background-image: url(https://uploads-ssl.webflow.com/60780bff57ddc42a6adc1d7e/60dad44bbcd8cb866c91a130_Teaching%20Learning%201.jpg);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 500px;
}

/* Class selector for container */
.container-7 {
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin-left: 164px;
  padding: 24px;
}

/* Class selector para el background */
.background-black-transparent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .61);
}

/* Tag selector for all links elements */
a {
  display: block;
  margin-top: 0;
  margin-left: 0;
  float: left;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 9px 15px;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
}

/* Class selector for left */
.link-left {
  border: 2px solid #e22b22;
  background-color: #fff;
  color: #e22b22;
}

/* Class selector for right link */
.link-right {
  background-color: #e22b22;
  border: none;
  margin-left: 12px;
}

/* Class selector for headers color text */
.headers-white {
  color: white;
}

/* Class selector for paragraph color text */
.paragraph-white {
  color: white;
}

/* Class selector for link */
.link-white {
  color: white;
}

/* Pseudo element selector of square element class  */
.square-element::after {
  content: "";
  display: inline-flex;
  position: relative;
  bottom: 8px;
  padding: 1.5%;
  margin-left: 5px;
  background-color: #e22b22;
  border-radius: 5px;
}